@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}

body {
  font-family: "Pretendard";
  color: #222222;
  margin: 0;
}

.header-login {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: bolder;
  font-size: 16px;
  color: #737373;
  cursor: pointer;
}
header {
  border-bottom: 1px solid #d6d6d6;
}

.header-logo {
  width: 108px;
}
.flex {
  display: flex;
}
ul {
  display: flex;
  gap: 36px;
}
.header-container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 8px 0;
}

.header-container > div > ul {
  list-style: none;
}

.header-container > div > ul > li {
  cursor: pointer;
  font-weight: 600;
}
.banner {
  background-image: url(".//images/banner.png");
  height: 400px;
  background-size: cover;
}
.banner-container {
  max-width: 1280px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-container > h3 {
  font-size: 32px;
  font-weight: 700;
}
.banner-container > h5 {
  margin-top: 12px;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

.bar {
  border-right: 1px solid #c9c9c9;
  padding-right: 20px;
}
.bar2 {
  margin-left: -10px;
}

.techit-school-container {
  max-width: 1280px;
  margin: auto;
  margin-top: 80px;
}
.techit-schcontainerool- > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.techit-school-container > div > div > h5 {
  color: #e67800;
  font-size: 16px;
  font-weight: 600;
}
.techit-school-container > div > div > h3 {
  margin-top: 8px;
  font-size: 26px;
  font-weight: 600;
}

.techit-school-card {
  margin-top: 18px;
  width: 300px;
  height: 420px;
}
.techit-school-card > .img-container {
  width: 290px;
  height: 210px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}
.techit-school-card > .img-container > img {
  width: 290px;
  height: 210px;
  border-radius: 12px;
}
.techit-school-card > .img-container > img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.d-day {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 8px;
}
.fin {
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
}
.techit-school-card > h3 {
  margin: 20px 0 15px 0;
  font-size: 21px;
  font-weight: 500;
}

.techit-school-card > h5 {
  font-size: 17px;
  margin-bottom: 18px;
}

.date {
  color: #a8a8a8;
}

.top-techit-school-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin-left: -40px;
  max-width: 1280px;
}

.alram {
  border: 1px solid #059669;
  color: #059669;
}

.techit-alarm {
  background-image: url("./images/techit_alarm.png");
  height: 220px;
  background-size: cover;
}
.techit-alram-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  align-items: start;
}

.techit-alram-container > h5 {
  padding-top: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #072c56;
}

.techit-alram-container > h3 {
  font-size: 26px;
  font-weight: 400;
}

.techit-alram-container > h3:first-of-type {
  margin-top: 25px;
}

.techit-alram-container > button {
  margin-top: 30px;
  font-size: 13px;
  color: #737373;
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: 800;
  cursor: pointer;
}
.techit-school > div {
  margin: auto;
  max-width: 1280px;
}
.techit-school > div > div > h3 {
  color: #e67800;
  font-size: 16px;
  font-weight: 600;
  margin-top: 100px;
}
.techit-school > div > div > h5 {
  margin-top: 8px;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}
.onboarding {
  width: 398px;
  height: 797px;
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 220px;
  row-gap: 100px;
  padding-right: 920px;
  list-style: none;
}
.onboarding > li {
  margin-top: 18px;
  width: 200px;
  height: 240px;
}
.onboarding > li > div {
  width: 398px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 10px;
}
.onboarding > li > div > img {
  width: 398px;
  height: 198px;
  border-radius: 12px;
  transition: all 0.5s;
}

.onboarding > li > div > img:hover {
  transform: scale(1.1);
}

.introduce {
  font-size: 14px;
  font-weight: 300;
}
.onboarding-card > h3 {
  margin-top: 10px;
  margin-bottom: 8px;
  width: 210px;
}

.price {
  width: 100px;
}
.price > span {
  text-decoration: line-through;
  font-size: 14px;
  color: #a3a3a3;
}
.onboarding-card > h6 {
  border: 1px solid #ffedd5;
  background-color: #ffedd5;
  border-radius: 5px;
  color: #e67800;
  width: 95px;
  font-size: 14px;
  font-weight: 500;
}

.refund {
  border: 1px solid #ffedd5;
  background-color: #ffedd5;
  border-radius: 5px;
  color: #e67800;
  font-size: 14px;
  font-weight: 500;
}

.education {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.education > li {
  background-size: cover;
  width: 600px;
  height: 310px;
  border-radius: 20px;
  margin-left: -20px;
}
.kdt-card {
  background-image: url("./images/home_card_600_kdt.png");
}

.kdc-card {
  background-image: url("./images/home_card_600_kdc.png");
}

.sus-card {
  background-image: url("./images/home_card_600_sus.png");
}

.education > li > h3 {
  margin: 50px 0 0 40px;
  font-size: 24px;
  font-weight: 600;
}
.education > li > h5 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}
.education > li > button {
  margin: 30px 0 0 40px;
  font-size: 14px;
  color: #737373;
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: 800;
  cursor: pointer;
}
